openapi: 3.2.0
info:
  title: Sertifier Credential Recipients API
  description: The Sertifier Credential API lets backend systems and LMS/CRM integrations programmatically design, issue, verify, and manage verifiable digital credentials (certificates and badges) on the Sertifier platform.
  version: '3.3'
  contact:
    name: Sertifier
    url: https://sertifier.com
    email: support@sertifier.com
  x-logo:
    url: https://kinlane-images.s3.amazonaws.com/shared/apis-json/apis-json-logo.jpg
servers:
- url: https://b2b.sertifier.com
  description: Sertifier Credential API (production)
security:
- secretKey: []
tags:
- name: Recipients
  description: Learners who receive credentials.
paths:
  /recipient:
    post:
      operationId: addRecipient
      tags:
      - Recipients
      summary: Add a recipient
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Recipient'
      responses:
        '200':
          description: The created recipient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updateRecipient
      tags:
      - Recipients
      summary: Update recipient(s)
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Recipient'
      responses:
        '200':
          description: The updated recipient(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /recipient/{recipientId}:
    delete:
      operationId: deleteRecipient
      tags:
      - Recipients
      summary: Delete a recipient
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - name: recipientId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The recipient was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /recipient/search:
    post:
      operationId: searchRecipients
      tags:
      - Recipients
      summary: Search recipients
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: A paginated list of recipients.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    ApiVersion:
      name: api-version
      in: header
      required: true
      description: API version header. Current documented value is 3.3.
      schema:
        type: string
        default: '3.3'
  schemas:
    SearchRequest:
      type: object
      description: Paginated search request.
      x-modeled: true
      properties:
        page:
          type: integer
          default: 1
        pageSize:
          type: integer
          default: 20
        query:
          type:
          - string
          - 'null'
    Recipient:
      type: object
      x-modeled: true
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
    Envelope:
      type: object
      description: Standard Sertifier response envelope.
      properties:
        message:
          type:
          - string
          - 'null'
        hasError:
          type: boolean
        validationErrors:
          type: array
          items:
            type: string
        data:
          description: The operation-specific payload (object or array).
        content: {}
  responses:
    Unauthorized:
      description: The secretKey is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
  securitySchemes:
    secretKey:
      type: apiKey
      in: header
      name: secretKey
      description: Private API key obtained from the Sertifier web application under Settings > API & Integrations (also referenced as Advanced > Integrations). Store it in a secrets vault; never embed it in client-side JavaScript.
