openapi: 3.2.0
info:
  title: Sertifier Credential Email Templates API
  description: The Sertifier Credential API lets backend systems and LMS/CRM integrations programmatically design, issue, verify, and manage verifiable digital credentials (certificates and badges) on the Sertifier platform.
  version: '3.3'
  contact:
    name: Sertifier
    url: https://sertifier.com
    email: support@sertifier.com
  x-logo:
    url: https://kinlane-images.s3.amazonaws.com/shared/apis-json/apis-json-logo.jpg
servers:
- url: https://b2b.sertifier.com
  description: Sertifier Credential API (production)
security:
- secretKey: []
tags:
- name: Email Templates
  description: Templates used to deliver finished credentials to recipients.
paths:
  /emailTemplate/{emailTemplateId}:
    get:
      operationId: getEmailTemplate
      tags:
      - Email Templates
      summary: Retrieve an email template
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/EmailTemplateId'
      responses:
        '200':
          description: The requested email template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteEmailTemplate
      tags:
      - Email Templates
      summary: Delete an email template
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      - $ref: '#/components/parameters/EmailTemplateId'
      responses:
        '200':
          description: The email template was deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /emailTemplate/search:
    post:
      operationId: searchEmailTemplates
      tags:
      - Email Templates
      summary: Search email templates
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: A paginated list of email templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /emailTemplate/copy:
    post:
      operationId: copyEmailTemplate
      tags:
      - Email Templates
      summary: Copy an email template
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emailTemplateId:
                  type: string
              required:
              - emailTemplateId
      responses:
        '200':
          description: The duplicated email template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    ApiVersion:
      name: api-version
      in: header
      required: true
      description: API version header. Current documented value is 3.3.
      schema:
        type: string
        default: '3.3'
    EmailTemplateId:
      name: emailTemplateId
      in: path
      required: true
      schema:
        type: string
  schemas:
    SearchRequest:
      type: object
      description: Paginated search request.
      x-modeled: true
      properties:
        page:
          type: integer
          default: 1
        pageSize:
          type: integer
          default: 20
        query:
          type:
          - string
          - 'null'
    Envelope:
      type: object
      description: Standard Sertifier response envelope.
      properties:
        message:
          type:
          - string
          - 'null'
        hasError:
          type: boolean
        validationErrors:
          type: array
          items:
            type: string
        data:
          description: The operation-specific payload (object or array).
        content: {}
  responses:
    Unauthorized:
      description: The secretKey is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
  securitySchemes:
    secretKey:
      type: apiKey
      in: header
      name: secretKey
      description: Private API key obtained from the Sertifier web application under Settings > API & Integrations (also referenced as Advanced > Integrations). Store it in a secrets vault; never embed it in client-side JavaScript.
