openapi: 3.0.3
info:
  title: Sertifier Credential Attributes Webhooks API
  description: 'The Sertifier Credential API lets backend systems and LMS/CRM integrations programmatically design, issue, verify, and manage verifiable digital credentials (certificates and badges) on the Sertifier platform. A credential is issued inside a Campaign that binds three things: a visual Design, a descriptive Detail, and an Email Template used to deliver the finished credential to a Recipient. Custom Attributes are merged into the design and email at issue time. All requests are sent to the base host with a private API key in the `secretKey` header and an `api-version` header. Most responses share a common envelope ({ message, hasError, validationErrors, data, content }). All dates are UTC. Designs are authored in the Sertifier web application; the API references and duplicates them.

    Endpoint paths, methods, the base host (https://b2b.sertifier.com), the `secretKey` / `api-version` headers, and the credential-issuance workflow are grounded in Sertifier''s public Apiary reference, help-center quickstart, and integration guides. Request and response bodies are minimally modeled where the public reference does not fully enumerate every field; those are marked with `x-modeled: true`.'
  version: '3.3'
  contact:
    name: Sertifier
    url: https://sertifier.com
    email: support@sertifier.com
  x-logo:
    url: https://kinlane-images.s3.amazonaws.com/shared/apis-json/apis-json-logo.jpg
servers:
- url: https://b2b.sertifier.com
  description: Sertifier Credential API (production)
security:
- secretKey: []
tags:
- name: Webhooks
  description: MODELED - inbound/outbound event automation. Not confirmed in the public reference.
paths:
  /webhook:
    post:
      operationId: createWebhook
      tags:
      - Webhooks
      summary: Create a webhook subscription (MODELED)
      description: MODELED, NOT CONFIRMED. A first-party outbound webhook subscription resource is not published in Sertifier's Credential API reference as of the review date. Sertifier documents receiving inbound completion events and no-code automation (Zapier, n8n) rather than a documented REST webhook-subscription endpoint. This operation is included as an honest placeholder and should be verified before use.
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
      responses:
        '200':
          description: The created webhook subscription (modeled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Webhook:
      type: object
      x-modeled: true
      description: MODELED - not confirmed in the public Sertifier API reference.
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
    Envelope:
      type: object
      description: Standard Sertifier response envelope.
      properties:
        message:
          type: string
          nullable: true
        hasError:
          type: boolean
        validationErrors:
          type: array
          items:
            type: string
        data:
          nullable: true
          description: The operation-specific payload (object or array).
        content:
          nullable: true
  responses:
    Unauthorized:
      description: The secretKey is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
  parameters:
    ApiVersion:
      name: api-version
      in: header
      required: true
      description: API version header. Current documented value is 3.3.
      schema:
        type: string
        default: '3.3'
  securitySchemes:
    secretKey:
      type: apiKey
      in: header
      name: secretKey
      description: Private API key obtained from the Sertifier web application under Settings > API & Integrations (also referenced as Advanced > Integrations). Store it in a secrets vault; never embed it in client-side JavaScript.
