openapi: 3.2.0
info:
  title: Sertifier Credential Authentication API
  description: The Sertifier Credential API lets backend systems and LMS/CRM integrations programmatically design, issue, verify, and manage verifiable digital credentials (certificates and badges) on the Sertifier platform.
  version: '3.3'
  contact:
    name: Sertifier
    url: https://sertifier.com
    email: support@sertifier.com
  x-logo:
    url: https://kinlane-images.s3.amazonaws.com/shared/apis-json/apis-json-logo.jpg
servers:
- url: https://b2b.sertifier.com
  description: Sertifier Credential API (production)
security:
- secretKey: []
tags:
- name: Authentication
  description: Verify API key validity.
paths:
  /Test:
    get:
      operationId: testAuthentication
      tags:
      - Authentication
      summary: Verify API key
      description: Verifies that the provided secretKey is valid.
      parameters:
      - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: The API key is valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    ApiVersion:
      name: api-version
      in: header
      required: true
      description: API version header. Current documented value is 3.3.
      schema:
        type: string
        default: '3.3'
  schemas:
    Envelope:
      type: object
      description: Standard Sertifier response envelope.
      properties:
        message:
          type:
          - string
          - 'null'
        hasError:
          type: boolean
        validationErrors:
          type: array
          items:
            type: string
        data:
          description: The operation-specific payload (object or array).
        content: {}
  responses:
    Unauthorized:
      description: The secretKey is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Envelope'
  securitySchemes:
    secretKey:
      type: apiKey
      in: header
      name: secretKey
      description: Private API key obtained from the Sertifier web application under Settings > API & Integrations (also referenced as Advanced > Integrations). Store it in a secrets vault; never embed it in client-side JavaScript.
